<h1>Editing lancamento</h1>

<%= render "form", lancamento: @lancamento %>

<br>

<div>
  <%= link_to "Show this lancamento", @lancamento %> |
  <%= link_to "Back to lancamentos", lancamentos_path %>
</div>
