<%content_for :header do %>
  <h1>Categorias</h1>
<% end %>

<div class="m-2">
  <%= link_to "Nova categoria", new_categorium_path, class:"btn btn-outline-primary" %>
</div>

<div id="categoria">
  <table class="table table-bordered table-striped table-hover w-50">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Cor</th>
        <th>Editar</th>
      </tr>
    </thead>
    <% @categoria.each do |categorium| %>
      <%= render categorium %>
    <% end %>
  </table>
</div>

