<%= form_with(model: carteira) do |form| %>
  <% if carteira.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(carteira.errors.count, "error") %> prohibited this carteira from being saved:</h2>

      <ul>
        <% carteira.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
