<%content_for :header do %>
  <h1>Carteiras</h1>
<% end %>

<div class="m-2">
  <%= link_to "Nova carteira", new_carteira_path, class:"btn btn-outline-primary" %>
</div>

<div id="carteira">
  <table class="table table-bordered table-striped table-hover w-50">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Saldo</th>
        <th>Cor</th>
        <th>Editar</th>
      </tr>
    </thead>
    <% @carteiras.each do |carteira| %>
      <%= render carteira %>
      
    <% end %>
  </table>
</div>