<h1>Editing linha credito</h1>

<%= render "form", linha_credito: @linha_credito %>

<br>

<div>
  <%= link_to "Show this linha credito", @linha_credito %> |
  <%= link_to "Back to linha creditos", linha_creditos_path %>
</div>
